html,
body {
  display: flex;
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
}

form {
  width: 20rem;
  border: 1rem solid #f1f1f1;
  padding: 1rem;
  border-radius: .5rem;
}
input {
  width: 100%;
  padding: 1rem .5rem;
  margin: .5rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: .5rem;
}

button {
  background-color: #8ebf42;
  color: white;
  padding: 1rem 0;
  margin: .6rem 0;
  border: none;
  cursor: grabbing;
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 1rem;
}
button:hover {
  opacity: 0.8;
}
